{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand ml-5" style="color:white; font-weight: bold" href="#">ROBINS</a>
              <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-5">
                  <li class="nav-item ml-5">
                    <a class="nav-link active" style="color:white" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item ml-5">
                    <a class="nav-link" style="color:white" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item ml-5">
                    <a class="nav-link" style="color:white" href="{% url 'booking' %}">Booking</a>
                  </li>
                  <li class="nav-item ml-5">
                    <a class="nav-link" style="color:white" href="{% url 'doctors' %}">Doctors</a>
                  </li>
                  <li class="nav-item ml-5">
                    <a class="nav-link" style="color:white" href="{% url 'department' %}">Department</a>
                  </li>
                  <li class="nav-item ml-5">
                    <a class="nav-link" style="color:white" href="{% url 'contact' %}">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    

        {% block content %}

        {% endblock %}

    </div>

    <div class="card bg-primary" class="navbar-nav">
        <div class="card-body">
            <div style="display:inline-block; line-height:80px; margin: 0 5px;">
                <h3 style="display:inline-block; line-height:80px; margin: 0 5px;"><a style="color:white; font-weight:bold;" href="#">Emergency Contact Number: 0123456789</a></h3>
                <p style="display:inline-block; line-height:80px; margin: 0 5px;"><a  class="d-none d-sm-none d-md--none d-lg-block ml-5" style="color:white" href="#">2022 Avitis Hospital All Rights Prevented</a></p>
            </div>
          
        </div>
      
</body>
</html>